*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/inspectionProfiles
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
versions.properties

/build-logic/convention/build
/.idea/render.experimental.xml
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml

/.gitignore/

